h1.section-heading {
  font-size: 1.25rem;
}
#site-title {
  a {
    font-size: 0.8rem;
  }
  margin-bottom: 20px;
}
#branding {
  margin-top: 50px;
}
#site-description {
  display: none;
}
#page {
  position: inherit;
}
.entry-header .entry-title {
  a {
    font-size: 2rem;
  }
  font-size: 2rem;
  line-height: 1;
}
iframe, object, embed {
  height: auto;
  max-width: 100%;
}
